{% extends "base1.html" %}
{% block content %}
<body>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title" >APPLICATION FORM</h1>
        <br/>
    <form action='' method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Application Name</label>
                <div class="col-sm-9">
                  {{form.application_name}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Application Description</label>
                <div class="col-sm-9">
                  {{form.application_description}}
                </div>
              </div>
            </div>
          </div>
          <div align="right">
              <button type="submit" class="btn btn-primary" name="done">
            Submit
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>
{% endblock %}