{% extends "base1.html" %}
{% block content %}
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title" >PEOPLE FORM</h1>
        <br/>
    <form action='' method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >First Name</label>
                <div class="col-sm-9">
                  {{form_1.p_first_name}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Last Name</label>
                <div class="col-sm-9">
                {{form_1.p_last_name}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Email Id</label>
                <div class="col-sm-9">
                  {{form_1.email_id}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Contact No</label>
                <div class="col-sm-9">
                  {{form_1.contact_no}}
                </div>
              </div>
            </div>
          </div>
                <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Department</label>
                <div class="col-sm-9">
                  {{form_1.department}}
                </div>
              </div>
            </div>
                   <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Create Project</label>
                <div class="col-sm-9">
                  {{form_1.can_create_project}}
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Create Application</label>
                <div class="col-sm-9">
                  {{form_1.can_create_application}}
                </div>
              </div>
            </div>

          </div>

          <div align="right">
              <button type="submit" class="btn btn-primary" name="done" value="{{ post.id }}">
            Next
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
