{% extends "base1.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        {% for p in project %}
        <h4 class="font-weight-normal mb-3" style="font-size: 22px;">{{p.project_name}} Project Owner's Name List<i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>{% endfor %}
        <br/>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% for first_name,last_name in people_lists %}
            <tr>
              <td style="font-size: 13px;">Owner</td>
              <td style="font-size: 13px;"> {{first_name}} {{last_name}}</td>
            </tr>{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}