{% extends "base1.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body"><a href="{% url 'app:individual_res' %}">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3"><i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4><br/>
                <h2 class="mb-5">Individual Resources</h2>
            </a>  </div>
        </div>
    </div>
    <div class="col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body"><a href="{% url 'app:team_res' %}">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3"> <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4><br/>
                <h2 class="mb-5">Team Resources</h2>
            </a> </div>
        </div>
    </div>
</div>

{% endblock %}