{% extends "base1.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block css %}
{% bootstrap_css %}
{% endblock css %}

{% block content %}


<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
}

button[type=submit] {
  width: 95%;
  background-color: #4CAF50;
  color: white;
  padding: 20px 30px;
  margin: 18px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 530px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<div>
    <ul class="nav nav-tabs" role="tablist" id="tabs" data-toggle="tab">
        <li role="presentation" class="active">
            <a href="#bootstrap" aria-controls="bootstrap" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-star"></span>
               PEOPLE
            </a>
        </li>
    </ul>

    {# ------------------------------- #}
    <div class="tab-content">

        <div class="tab-pane fade in active" id="bootstrap">
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="column" style="background-color:#aaa;">
                        <label>First Name</label>
                        <br/>
                        {{form.p_first_name}}
                    </div>
                    <div class="column" style="background-color:#aaa;">
                        <label>Last Name</label>
                        <br/>
                        {{form.p_last_name}}
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="column" style="background-color:#aaa;">
                        <label>Email Id </label>
                        <br/>
                        {{form.email_id}}
                    </div>
                    <div class="column" style="background-color:#aaa;">
                        <label>Contact No </label>
                        <br/>
                        {{form.contact_no}}
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="column" style="background-color:#aaa;">
                        <label>Department </label>
                        <br/>
                        {{form.department}}
                    </div>
                </div>

                {% buttons %}
                <button type="submit" class="btn btn-primary" name="done">
                    {% bootstrap_icon "star" %} Submit
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
