{% extends 'material/frontend/base_module.html' %}
{% load static %}

{% block extrahead %}
<script src="{% static 'js/my-components.min.js' %}"></script>
{% endblock %}

<!--{% extends 'viewflow/flow/start.html' %}-->
<!--{% load viewflow material_form material_frontend %}-->
<!--{% load material_form %}-->
<!--<form action="#" method="post">-->
<!--    &lt;!&ndash;<form action="." method="POST">&ndash;&gt;-->
<!--    {% csrf_token %}-->
<!--    {% form form=form %}{% endform %}-->
<!--    <button type="submit" name="_submit" class="btn">Submit</button>-->
<!--</form>-->

