{% extends "base1.html" %}
{% block content %}
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title"  style="font-size: 22px;">TASK FORM</h1>
        <br/>
    <form action='' method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Task Name</label>
                <div class="col-sm-9">
                  {{form.task_name}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Task Description</label>
                <div class="col-sm-9">
                  {{form.description}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Project Name</label>
                <div class="col-sm-9">
                  {% for p in project_name %}
                {{p}}
                  {% endfor %}
                </div>
              </div>
            </div>
              <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Status</label>
                <div class="col-sm-9">
                  {{form.status}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Assigned By</label>
                <div class="col-sm-9">
                  {{form.assigned_by}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Assigned To</label>
                <div class="col-sm-9">
                  {{form.assigned_to}}
                </div>
              </div>
            </div>
          </div>
       <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Start Date</label>
                <div class="col-sm-9">
                  {{form.start_date}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Expected End Date</label>
                <div class="col-sm-9">
                  {{form.expected_end_date}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">End Date</label>
                <div class="col-sm-9">
                  {{form.end_date}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" style="font-size: 13px;">Parent Task</label>
                <div class="col-sm-9">
                  {{form.parent_task}}
                </div>
              </div>
            </div>
          </div>
          <div align="right">
              <button type="submit" class="btn btn-primary" name="done">
            Update
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}