          <!DOCTYPE html>
    <html>
      <head>
        <title>ITEM SUMMARY</title>
          <style>

              #table {
              width:auto;background-color: gray;color: white;
              }
              #table th {background-color: gray;color: white;}
              #table tr { width: 350px;text-align: center;border: 1px solid black;padding: 5px; }
          </style>
      </head>
      <body>
           <p align="center"><img src="https://www.modernelectricals.net/img/970x647/c&s.png" alt=""   height=90 width=90></p>
                                    <h1 align="center"> <strong>ITEM  SUMMARY</strong></h1>
        <div>
            <h3>
          <table>
     <tr style=" background-color: gray;color: white;">
               <th style="display:none;background-color: gray;color: white;">ID </th>
            </tr>
            <tr>
               <td class="td" style="display:none;width: 350px;text-align: center;border: 1px solid black;padding: 5px;">{{ID}}</td>
            </tr>
            <tr>
               <th >ITEM CODE</th>
                <th >UOM_CODE</th>

            </tr>
            <tr>
               <td class="td"  >{{ITEM_CODE}}</td>
               <td class="td"  >{{UOM_CODE}}</td>

            </tr>
                  <tr>
               <th style="">INV CATG</th>
               <th >MIS CATG</th>

            </tr>
            <tr>
               <td class="td"  style="">{{INV_CATG}}</td>
               <td class="td"  >{{MIS_CATG}}</td>
            </tr>

              <tr>
             <th >ITEM TEMPLATE</th>
               <th >ASSIGNED TO</th>

            </tr>
            <tr>
               <td class="td"  >{{ITEM_TEMPLATE}}</td>
               <td class="td"  >{{ASSIGNED_TO}}</td>
            </tr>



              <tr>
               <th >STATUS MSG</th>
               <th >LAST UPDATE DATE</th>
            </tr>
            <tr>
               <td class="td"  >{{STATUS_MSG}}</td>
               <td class="td"  >{{LAST_UPDATE_DATE}}</td>

            </tr>
               <tr>

               <th >LAST UPDATED BY</th>
               <th >DESCRIPTION</th>
            </tr>
            <tr>
               <td class="td">{{LAST_UPDATED_BY}}</td>
               <td class="td"  >{{DESCRIPTION}}</td>
            </tr>
          </table>
                <br/>
                 <p align="center">
                     <label>Enter Comments Here</label>
                      <textarea  rows="5" cols="30" placeholder="Enter the Comment Here"></textarea>
                     <br/>
                                          <a href={{url_create_yes}}><button class="button">Approve</button></a>

                     <a href={{url_create_no}}><button class="button">Reject</button></a>
                          <br/>
                          <br/>
                        <strong>Thank You!</strong>
                 </p>
    </h3>
        </div>
      </body>
    </html>