          <!DOCTYPE html>
    <html>
      <head>
        <title>ITEM SUMMARY</title>
      </head>
      <body>
           <p align="center"><img src="https://www.modernelectricals.net/img/970x647/c&s.png" alt=""   height=90 width=90></p>

<h3 align="center">Sorry, the approver's action to approve/reject the item {{item_code}} through email<br/> could not be processed in Apex.<br/> Kindly perform the action through apex login. If the error persists, kindly contact IT support.
</h3>
                <br/>
                 <p align="center">

                        <strong>Thank You.</strong>
                 </p>
      </body>
    </html>