          <!DOCTYPE html>
    <html>
      <head>
        <title>ITEM SUMMARY</title>
      </head>
      <body>
           <p align="center"><img src="https://www.modernelectricals.net/img/970x647/c&s.png" alt=""   height=90 width=90></p>

        <div>
            <h3>
<h3 align="center"> Your Item {{item_code}} has been rejected.</h3>
                <br/>
                 <p align="center">

                        <strong>Thank You.</strong>
                 </p>
    </h3>
        </div>
      </body>
    </html>