  <!DOCTYPE html>
       <html>
         <head>
           <title>ITEM DETAIL REPORT</title>

         </head>
         <body>
         <div align="center">
            <nav class="navbar">
              <img src="https://www.modernelectricals.net/img/970x647/c&s.png" alt=""   height=200 width=370>
                                   </nav>
                                   <br/><br/>
                 <div class="container">
      <label><b>Username</b></label>
        <br/>
     {{name}}
<br/>
      <label><b>Host</b></label>
        <br/>
      {{Host}}

     <br/>
      <label><b>Date</b></label>
        <br/>
      {{Host}}
           <br/>
      <label><b>Check In Time</b></label>
        <br/>
      {{Host}}
    </div>
           <br/>
         </div>
         </body>
       </html>