  <!DOCTYPE html>
       <html>
         <head>
           <title>ITEM DETAIL REPORT</title>
  <nav class="navbar">
              <img src=f'{{pic}}' alt=""   height=200 width=350>
                                   </nav>
         </head>
         <body>
         <div align="center">
            <nav class="navbar">
              <img src=f'{{pic}}' alt=""   height=200 width=350>
                                   </nav>
                                   <br/><br/>
         </div>
                   <table style="margin-left:25%;">
                     <tr style="text-align: left;">
                       <th>Name:</th>
                       <td>{{name}}</td>
                         <th>Host:</th>
                       <td>{{host_name}}</td>

                     </tr>

                     <tr style="text-align: left;">
                       <th>Date:</td>
                       <td>{{in_time}}</td>
                        <th>Check In Time:</td>
                       <td>{{in_time}}</td>
                     </tr>
                   </table>
           <br/>
         </body>
       </html>