<html>
<head>
    <title>Whatsapp Mail</title>
</head>
<body>
 <p align="center"><img src="https://www.modernelectricals.net/img/970x647/c&s.png" alt=""   height=90 width=90></p>
 <p align="center">Dear <b>{{customer_name}}</b>,<br/>
     C&S is now available on whatsapp for business. <br/>Get notifications related to order booking, invoice generation and other related transactions<br/> on the go on your whatsapp. To subscribe, kindly click on the below button.
</p>
<p align="center" ><img src="https://drive.google.com/uc?export=download&id=1M8ORdcdCSA47MCJYn2z2oHFDkAz1moiG" alt=""   height=200 width=650></p>
 <p align="center"><a href={{optin_link}}><button class="button"  style=" font-size: 18px;">Click here to opt in to Whatsapp notifications</button></a></p>
 <p align="center">Please contact your associated sales representative for any concerns.</p>
 <br/>
    <strong>Regards<br/>
C&S Electric Ltd.
</strong>

</body>
</html>